*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}




/*HEADER GENERAL*/
#header{
    padding: 15px 5px 15px 5px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#header .log-in-flex{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    text-decoration: none;
    flex-wrap: wrap;
}
#header .log-in-flex a{
    text-decoration: none;
    font-size: auto;
}

.log-in{
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 5px 15px 5px 15px;
    font-family: 'Poppins', sans-serif;
    transition:  0.5s;
}
.log-in:hover{
    background-color: rgb(0, 0, 0, 0.5);
    transform: scale(1.05);
}
.nav-header ul li a:hover{
    box-shadow: 1px 1px 5px 1px white;
    background-color: rgb(0, 0, 0, 0.6);
}
.shop-logos-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.logo-linkin-header{
    max-width: 100px;
    padding: 5px;
    filter: invert(100%);
}
.nav-header ul{
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
}
.logos-header a{
    margin: 5px;
    filter: drop-shadow(5px 5px 5px black);
}

.nav-header ul li a{
    padding: 5px 10px 5px 15px;
    margin: 20px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Koulen', cursive;
    letter-spacing: 6px;
    text-shadow: 2px 2px 3px black;
    transition: 0.6s;
    font-weight: 300;
}
.shop-div:hover{
    background-color: rgba(0, 33, 104, 0.438);
}
#title-shop .shop-div:hover{
    background-color: rgba(0, 0, 0, 0.438);
}
.shop-div a{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    padding: 10px;
}
.shop-div a h6{
    margin-top: 10px;
}
.shop-div {
    background-color: rgba(0, 0, 0, 0.548);
    padding: 12px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}
.shop-div a h6{
    font-size: 25px;
    font-family: 'Koulen', cursive;
    letter-spacing: 3px;
    font-weight: 300;
    color: white;
}

.shop-div a img{
    width: 35px;
    filter: invert(100%);
}
#title h1{
    text-align: center;
    color: white;
    font-size: 100px;
    text-shadow: 5px 5px 5px black;
    font-family: 'Koulen', cursive;
    letter-spacing: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}
/*HEADER GENERAL*/
/*MAIN INDEX*/
body #background-header-index{
    background-image: url(../Imagenes/linkin-park-fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}
#main-index{
    background: radial-gradient(rgb(24, 24, 24), rgb(3, 3, 3));
    text-align: center;
    overflow-x: hidden;
}
#main-index .biography{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#main-index h2{
    text-align: center;
    color: rgb(228, 228, 228);
    padding: 60px;
    font-size: 40px;
    text-shadow: 3px 3px 3px black;
}
#main-index article{
    color: rgb(228, 228, 228);
    font-size: 20px;
    text-align: left;
    font-weight: 300;
    width: 500px;
    font-family: 'Poppins', sans-serif;
    padding: 20px 20px 20px 20px;
}
#main-index h2{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    font-size: 50px;
}
.biography img{
    width: 540px;
    box-shadow: 5px 5px 5px black;
}
.img-biography{
    text-align: center;
    padding: 50px;
}
.img-biography img{
    width: 500px;
    filter: invert(70%);
}

/*MAIN INDEX*/
/*MAIN HISTORY*/
#background-header-history{
    background-image: url(../Imagenes/fondo-history.png);
    background-blend-mode: darken;
    background-color: rgba(24, 24, 24, 0.35);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
} 
#main-history{
    background: radial-gradient(rgb(26, 26, 26), rgb(3, 3, 3));
    text-align: center;
    padding: 100px 30px 20px 30px;
    overflow-x: hidden;
}

#main-history article{
    text-align: justify;
    
}
#main-history article div img{
    max-width: 600px;
    
}
#main-history article{
    font-family: 'Poppins', sans-serif;
    color: rgb(230, 230, 230);
    line-height: 35px;
    font-weight: 300;
    font-size: 18px;
    margin-top: 50px;
    overflow-x: hidden;
}

#main-history article .light{
    width: 500px;
    padding: 25px;
    
}
#main-history article img{
    width: 100%;
}
#main-history article .xero1{
    width: 700px;

}
#main-history article .xero-cover{
    max-width: 450px;
    margin-bottom: 50px;
    height: 450px;
}
#main-history article .center{
    text-align: center;
    margin: 50px;
}
#main-history article .chester{
    width: 100%;

}
#main-history article .chester2{
    max-width: 700px;
}
#main-history article .flex-history-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;



}
#main-history article .flex-history-img img{
    width: 500px;
    height: 400px;
}

/*MAIN HISTORY*/
/*MAIN MEMBERS*/
#main-members{
    background: radial-gradient(rgb(26, 26, 26), rgb(3, 3, 3));
    text-align: center;
    padding: 0px 100px 0px 100px;
    overflow-x: hidden;
}
#main-members .article-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-end;
    padding-top: 100px;
    gap: 25px;
}
.article-flex article{
    width: 500px;
    text-align: left;
}
#background-header-members{
    background-image: url(../Imagenes/linkin-park-biography.jpg);
    background-color: rgba(0, 0, 0, 0.281);
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
} 
#main-members{
    background: radial-gradient(rgb(26, 26, 26), rgb(3, 3, 3));
    padding: 0px 50px 0px 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(214, 214, 214);
}
#main-members .nav-main{
    width: 100%;
    margin-bottom: 20px;
}
#main-members .nav-main ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
#main-members .nav-main ul li{
    text-align: center;
}
#main-members .nav-main ul li a{
    padding: 30px;
    color: rgb(231, 231, 231);
    font-family: 'Koulen', cursive;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
}
#main-members .article-flex p{
    text-align: justify;
}
.arrow{
    filter: invert(100%);
    width: 10px;
}
.table{
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 20%;
}
.table tr th{
    font-size: 17px;
    padding-right: 20px;
}


#chester h2{
    font-size: 50px;
    margin: 100px 0px 40px 0px;
}
#mike h2{
    font-size: 50px;
    margin: 200px 0px 40px 0px;
}
#rob h2{
    font-size: 50px;
    margin: 200px 0px 40px 0px;
}
#dave h2{
    font-size: 50px;
    margin: 200px 0px 40px 0px;
}
#joe h2{
    font-size: 50px;
    margin: 200px 0px 40px 0px;
}
#brad h2{
    font-size: 50px;
    margin: 200px 0px 40px 0px;
}
/*MAIN MEMBERS*/
/*MAIN DISCOGRAPHY*/
#main-discography{
    background: radial-gradient(rgb(26, 26, 26), rgb(3, 3, 3));
    text-align: center;
    padding: 10px 20px 10px 20px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
#background-header-discography{
    background-image: url(../Imagenes/linkinpark-meteora.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

} 

#main-discography h2{
    font-size: 50px;
    padding: 20px;
}
#main-discography{
    color: rgb(231, 230, 230);
}
#main-discography p{
    text-align: justify;
    padding: 5px;
}

.albums-flex{
    justify-content: space-evenly;
    display: flex;
    gap: 10px;
    align-content: center;
    align-items: center;
    margin: 50px;
}
#main-discography .albums p a{
    color: rgb(134, 134, 134);
}

.table tr{
    color: rgb(233, 232, 232);
    line-height: 25px;
}
.table{
    
}
.albums{
    margin: 50px;
}
/*MAIN DISCOGRAPHY*/
/*MAIN VIDEOS*/
#title-shop div a{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#title-shop div a h6{
    font-size: 25px;
    font-family: 'Koulen', cursive;
    letter-spacing: 3px;
    font-weight: 300;
}
#title-shop div a img{
    width: 35px;
    filter: invert(100%);

}
#title-shop div{
    background-color: rgba(0, 0, 0, 0.548);
    position: relative;
    bottom: 95px;
    left: 60px;
    width: 150px;
    padding: 10px;
    
}
#title h1{
    text-align: center;
    color: white;
    font-size: 100px;
    text-shadow: 5px 5px 5px black;
    font-family: 'Koulen', cursive;
    letter-spacing: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}
#main-videos{
    background: radial-gradient(rgb(26, 26, 26), rgb(24, 24, 24));
    text-align: center;
    position: relative;
    padding: 100px;
}
#main-videos h2{
    font-size: 30px;
    color: white;
    padding: 40px;
}
#main-videos iframe{
    margin-bottom: 100px;

}
#background-header-videos{
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
video{
    width: 100%;
    position: absolute;
    top: -62px;
    z-index: -10;
}



/*MAIN VIDEOS*/
/*FOOTER GENERAL*/
#footer{
    background-color: black;
    height: 400px;
}
#footer p{
    text-align: center;
    color: #888;
}
.gif-footer{
    text-align: center;
}
.gif-footer img{
    width: 100px;
    margin: 50px;
}
.icon-facebook-footer, .icon-twitter-footer, .icon-instagram-footer, .icon-youtube-footer{
    filter: invert(100%);
    width: 25px;
    height: 20px;
}
.nav-footer-top{
    padding-right: 25px;
}
.nav-footer-top ul li a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.nav-footer-top ul{
    display: flex;
    justify-content: space-evenly;
}
.nav-footer-bottom{
    text-align: center;
}
.nav-footer-bottom ul{
    display: flex;
    justify-content: space-around;
    align-content: center;
    
}
.nav-footer-bottom ul li{
    color: rgb(105, 105, 105);
    font-family: 'Koulen', cursive;
    

}
.nav-footer-bottom ul li a{
    color: rgb(201, 198, 198);
    text-decoration: none;
    font-family: 'Koulen', cursive;
    letter-spacing: 3px;
    font-weight: 100;
    
}
.nav-footer-bottom p{
    font-family: 'Koulen', cursive;
    margin-top: 50px;
    letter-spacing: 3px;
}

/*FOOTER GENERAL*/

/*MEDIAS QUERYS*/

/*@media screen and (max-width:1255px){
    .container-img{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }*/

@media screen and (max-width:1255px){
            /*INDEX*/
            #background-header-index{
                background-position-x: 40%;
                background-size:auto;
            }
            #background-header-history{
                background-position-x: 40%;
                background-size:auto;
            }
        
            #title .logos-header{
                padding: 10px;
            }
          
            #main-index .img-biography img{
                width: 60%;
            }
            #main-index .biography img{
                width: 80%;
               
            }
            #main-index .biography article{
                width: 90%;
                margin: 10px;
                text-align: justify;
                
            }
            #main-index h2{
                font-size: 60px;
            }
            #title h1{
                font-size: 80px;
                text-align: center;
            }
 
            /*INDEX*/
                /*HISTORY*/
    #main-history .flex-history-img{
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
    }
    #main-history .flex-history-img img{
        width: 100%;
    }
    #main-history article .chester{
        width: 100%;
    }
    .nav-footer-bottom{
        text-align: center;
    }
    #main-history article .flex-history-img img{
        width: 400px;
    }
    /*HISTORY*/
        /*DISCOGRAPHY*/
        .albums .albums-flex{
            display: flex;
            flex-direction: column;
        }
        .albums .albums-flex img{
            width: 400px;
         
        }
        .albums .albums-flex iframe{
            width: 400px;
         
        }
        #title h1{
            font-size: 80px;
            letter-spacing: 5px;
        }
    
        /*DISCOGRAPHY*/
    
}
@media screen and (max-width:500px){
        /*INDEX*/
        #background-header-index{
            background-size:auto;
            background-position-x: -100px;
            background-size: -150%;
            background-image: none;
        }
        #background-header-history{
            background-position-x: 40%;
            background-size:auto;
        }
        #background-header-members{
            background-position-x: 100%;
            background-size: -150%;
        }
        #header img{
            width: 60px;
        }
        #header .log-in-flex{
            display: flex;
        justify-content: center;
        }
        #header .log-in-flex a{
            font-size: 12px;
        }
        #header nav .checkbtn{
            font-size: 30px;
        }
        .shop-logos-flex .shop-div a h6{
            font-size: 20px;
        }
        .shop-logos-flex .shop-div a img{
            width: 22px; 
            margin-right: 10px;
        }
        .shop-logos-flex .shop-div{
            gap: 20px;
        }
        .shop-logos-flex .logos-header a img{
            width: 30px;
        }
    
        #title .logos-header{
            padding: 10px;
        }
        .nav-footer-bottom{
            display: none;
        }
        #main-index .img-biography img{
            width: 100%;
        }
        #main-index .biography img{
            width: 80%;
           
        }
        #main-index .biography article{
            width: 90%;
            margin: 10px;
            text-align: justify;
        }
        #main-index h2{
            font-size: 40px;
        }
        #title h1{
            font-size: 30px;
            text-align: center;
        }
        /*INDEX*/
            /*HISTORY*/
    #main-history .flex-history-img{
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: auto;
        justify-content: center;
    }

    /*HISTORY*/
        /*MEMBERS*/
        .article-flex img{
            width: 300px;
        }
    
        /*MEMBERS*/
            /*DISCOGRAPHY*/
    .albums .albums-flex{
        display: flex;
        flex-direction: column;
    }
    .albums .albums-flex img{
        width: 400px;
    }
    .albums .albums-flex iframe{
        width: 400px;
     
    }
    #title h1{
        font-size: 40px;
        letter-spacing: 5px;
    }

    /*DISCOGRAPHY*/
}




@media screen and (max-width:400px){
    #header .nav-header {
        display: none;
    }
    #background-header-history{
        background-position-x: 40%;
        background-size:auto;
    }
    #background-header-index{
        background-image: none;
    }
    #header img{
        width: 60px;
    }
    #header .log-in-flex{
        display: flex;
    justify-content: center;
    }
    #header .log-in-flex a{
        font-size: 12px;
    }
    #header nav .checkbtn{
        font-size: 30px;
    }
    .shop-logos-flex .shop-div a h6{
        font-size: 20px;
    }
    .shop-logos-flex .shop-div a img{
        width: 22px; 
        margin-right: 10px;
    }
    .shop-logos-flex .shop-div{
        gap: 20px;
    }
    .shop-logos-flex .logos-header a img{
        width: 30px;
    }
    #main-members .nav-main ul li{
        margin-right: 15px;
        padding-top: 20px;
    }
    #main-members .nav-main ul li a{
        
        text-align: center;
    }
    #main-members div h2{
        font-size: 40px;
    }
    div .table table tr th{
        font-size: 15px;
        
    }
    #main-members .article-flex p{
        text-align: justify;
    }



    
    /*INDEX*/

 

    #title .logos-header{
        padding: 10px;
    }
   
    #main-index .img-biography img{
        width: 100%;
    }
    #main-index .biography img{
        width: 80%;
    }
    #main-index .biography article{
        width: 90%;
        margin: 10px;
        text-align: justify;
        
    }
    #main-index h2{
        font-size: 40px;
    }
    #title h1{
        font-size: 100px;
        text-align: center;
    }
    /*INDEX*/
    /*HISTORY*/
    #main-history .flex-history-img{
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: 400px;
        justify-content: center;
    }
    #main-history .flex-history-img img{
        width: 100%;
    }
    #main-history article .chester{
        width: 100%;
    }
    /*HISTORY*/
    /*MEMBERS*/
    .article-flex img{
        width: 300px;
    }

    /*MEMBERS*/
    /*DISCOGRAPHY*/
    .albums .albums-flex{
        display: flex;
        flex-direction: column;
    }
    .albums .albums-flex img{
        width: 400px;
     
    }
    .albums .albums-flex iframe{
        width: 400px;
    }
    #title h1{
        font-size: 40px;
        letter-spacing: 5px;
    }
    /*DISCOGRAPHY*/
}

@media screen and (max-width: 1165px){
    #header .nav-header {
        display: none;
    }
    #background-header-history{
        background-position-x: 40%;
        background-size:auto;
    }
    #main-members .nav-main ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    #main-members .nav-main ul li{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
    }
    #main-members .article-flex p{
        text-align: justify;
    }


/*MEDIAS QUERYS*/
}

.nav-principal ul{
    display: flex;
    flex-wrap: wrap;
}
.nav-principal ul li a{
    padding: 5px 10px 5px 15px;
    margin: 12px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Koulen', cursive;
    letter-spacing: 6px;
    text-shadow: 2px 2px 3px black;
    transition: 0.6s;
    font-weight: 300;
}
li a.active, li a:hover{
    background: #3d3d3d42;
    transition: .2s;
}
.checkbtn{
    font-size: 40px;
    color: #fff;
    line-height: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    .nav-principal ul li a{
        font-size: 16px;
    }
    #background-header-index{
        background-position-x: 40%;
    }
    #title h1{
        position: absolute;
        bottom: 50%;
        font-size: 250%;
    }
}

@media (max-width: 1165px){
    .checkbtn{
        display: block;
    }

    #background-header-history {
        background-position-x: 40%;
        background-size:cover;
    }
    #background-header-members{
        background-position-x: 40%;
        background-size: -100%;
        
        
    }
    #background-header-discography{
        background-position-x: 50%;
        
        
    }

    .nav-principal ul{
        background-image: url(../Imagenes/linkinpark-meteora.jpg);
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.782);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 30%;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 20000;

    }
    
    .nav-principal ul li{
        display: flex;
        line-height: 10px;
        
        text-align: center;
        width: 100%;
    }
    .nav-principal ul li a{
        font-size: 20px;
        width: 100%;
        padding: 20px;
        
    }
    #check:checked ~ ul{
        left:0;
    }
}