
/*MISC*/
@import "./misc/variables";
@import "./misc/normalize";
@import "./misc/mixins";

/*PARTIALS*/
@import "./partials/header";
@import "./partials/footer";

/*VIEWS*/
@import "./views/home";
@import "./views/discography";
@import "./views/history";
@import "./views/login";
@import "./views/members";
@import "./views/register";
@import "./views/shop";
@import "./views/videos";

    #background-header-index{
    background-image: url(../Imagenes/linkin-park-fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    #title h1{
        text-align: center;
        color: white;
        font-size: 100px;
        text-shadow: 5px 5px 5px black;
        font-family: 'Koulen', cursive;
        letter-spacing: 20px;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
    }
    .shop-logos-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px;
    
        .logos-header a{
            margin: 5px;
            filter: drop-shadow(5px 5px 5px black);
        }
    
        .shop-div {
            background-color: rgba(0, 0, 0, 0.548);
            padding: 12px;
            border-style: solid;
            border-color: white;
            border-width: 2px;
    
            a{
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: space-around;
                text-decoration: none;
                padding: 10px;
    
                img{
                    width: 35px;
                    filter: invert(100%);
                }
    
                h6{
                    font-size: 25px;
                    font-family: 'Koulen', cursive;
                    letter-spacing: 3px;
                    font-weight: 300;
                    color: white;
                    margin-top: 10px;
                }
            }
        }
        
    }

    #header{
        padding: 15px 5px 15px 5px;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .logo-linkin-header{
            max-width: 100px;
            filter: invert(100%);
        }

        .nav-principal{
            margin-right: 30px;
        }
        ul li a{
            letter-spacing: 8px;
        }
    
        .log-in-flex{
            display: flex;
            justify-content: space-between;
            gap: 10px;
            text-decoration: none;
            flex-wrap: wrap;
    
            a{
                text-decoration: none;
                font-size: auto;
            }
        }
    }
    
    
}

#main-index{
    background: radial-gradient(rgb(24, 24, 24), rgb(3, 3, 3));
    text-align: center;
    overflow-x: hidden;



    .biography{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        article{
            color: rgb(228, 228, 228);
            font-size: 20px;
            text-align: left;
            font-weight: 300;
            width: 500px;
            font-family: 'Poppins', sans-serif;
            padding: 20px 20px 20px 20px;
        }

        img{
            width: 540px;
            box-shadow: 5px 5px 5px black;
        }
    }
    h2{
        font-family: 'Poppins', sans-serif;
        letter-spacing: 5px;
        text-align: center;
        color: rgb(228, 228, 228);
        padding: 60px;
        font-size: 50px;
        text-shadow: 3px 3px 3px black;
    }
    .img-biography{
        text-align: center;
        padding: 50px;

        img{
            width: 500px;
            filter: invert(70%);
        }
    }

}
#footer{
    background-color: black;
    height: 400px;

    .nav-footer-top{
        padding-right: 25px;

        ul{
            display: flex;
            justify-content: space-evenly;

            li a{
                font-size: 25px;
                text-decoration: none;
                color: white;
                font-family: 'Poppins', sans-serif;
            }
        }
    }

    .gif-footer{
        text-align: center;

        img{
            width: 100px;
            margin: 50px;
        }
    }
    
    p{
        text-align: center;
        color: #888;
    }

    .nav-footer-bottom{
        text-align: center;

        p{
            font-family: 'Koulen', cursive;
            margin-top: 50px;
            letter-spacing: 3px;
        }

        ul{
            display: flex;
            justify-content: space-around;
            align-content: center;

            li{
                color: rgb(105, 105, 105);
                font-family: 'Koulen', cursive;

                a{
                    color: rgb(201, 198, 198);
                    text-decoration: none;
                    font-family: 'Koulen', cursive;
                    letter-spacing: 3px;
                    font-weight: 100;
                }
            }
            
        }
    }
}