/*FOOTER*/


#footer{
    background-color: black;
    height: 400px;

    .gif-footer{
        text-align: center;

        img{
            width: 100px;
            margin: 50px;
        }
    }

    .nav-footer-top{
        padding-right: 25px;

        ul{
            display: flex;
            justify-content: space-evenly;

            li a{
                font-size: 25px;
                text-decoration: none;
                color: white;
                font-family: 'Poppins', sans-serif;

                
                .icon-footer-facebook, .icon-footer-twitter, .icon-footer-instagram, .icon-footer-youtube{
                    filter: invert(100%);
                    @include sizes (20px,25px);


                $redes: (
                facebook: 'facebook',
                twitter: 'twitter',
                instagram: 'instagram',
                youtube: 'youtube',
                );

                @each $key, $val in $redes {
                    .icon-footer-#{$key} {
                    filter: invert(100%);
                    width: 25px;
                    height: 20px;
                    }
                }
                
                }
            }
        }
    }

    .nav-footer-bottom{

        @extend .nav-footer-top;

        p{
            font-family: 'Koulen', cursive;
            margin-top: 50px;
            letter-spacing: 3px;
        }

        ul{
            display: flex;
            justify-content: space-around;
            align-content: center;

            li{
                color: var(--footer-text-color);
                font-family: 'Koulen', cursive;

                a{
                    color: var(--footer-text-color);
                    text-decoration: none;
                    font-family: 'Koulen', cursive;
                    letter-spacing: 3px;
                    font-weight: 100;
                }
            }
            
        }
    }
}
/*FOOTER*/