/*HEADER INDEX*/

#background-header-index{
    background-image: url(../Imagenes/linkin-park-fondo-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    #header{
        padding: 15px 5px 15px 5px;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        
        @media screen and (min-width:1370px){
            display: flex;
            justify-content: center;
        }


        .logo-linkin-header{
            max-width: 100px;
            filter: invert(100%);

            @media screen and (min-width:1370px){
                margin-right: 3%;
            }

            @media screen and (max-width:1165px){
                width: 70px;
            }

            @media screen and (max-width:500px){
                width: 70px;
            }

            @media screen and (max-width:400px) {
                width: 70px;
            }

            @media (max-width: 350px){
                width: 60px;
            }
        }
    }

        .log-in-flex{
            display: flex;
            justify-content: space-between;
            gap: 10px;
            text-decoration: none;
            flex-wrap: wrap;

            @media screen and (max-width:500px){
                display: flex;
                justify-content: center;
            }

            @media screen and (max-width:400px) {
                display: flex;
                justify-content: center;
            }

            @media screen and (max-width:340px) {
                display: none;
            }

            a{
                text-decoration: none;

                @media screen and (max-width:500px){
                    font-size: 15px;
                }

                @media screen and (max-width:400px) {
                    font-size: 14px;
                }

                @media (max-width: 350px){
                    font-size: 12px;
                }
            }

            .log-in{
                color: white;
                border-style: solid;
                border-width: 2px;
                border-color: white;
                padding: 5px 15px 5px 15px;
                font-family: 'Poppins', sans-serif;
                transition:  0.5s;

                &:hover{
                    background-color: var(--background-hover-color);
                    transform: scale(1.05);
                }
            }
        }

        .nav-principal {

            .checkbtn{
                font-size: 40px;
                color: #fff;
                line-height: 20px;
                margin-right: 10px;
                margin-bottom: 20px;
                cursor: pointer;
                display: none;

                @media (max-width: 1165px){
                    display: block;
                }


                @media screen and (max-width:500px) {
                    font-size: 40px;
                }

                @media screen and (max-width:400px) {
                    font-size: 40px;
                }

                @media (max-width: 350px){
                    font-size: 35px;
                }
            }
            #check{
                display: none;
            }

            ul {

                display: flex;
                flex-wrap: wrap;

                @media (max-width: 1165px){
                    background-image: url(../Imagenes/linkinpark-meteora.jpg);
                    background-blend-mode: darken;
                    background-color: rgba(0, 0, 0, 0.782);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position-x: 30%;
                    padding-top: 10px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    position: fixed;
                    width: 100%;
                    height: 100vh;
                    left: -100%;
                    text-align: center;
                    transition: all .5s;
                    z-index: 20000;
                }
    
                li{
                    @media (max-width: 1165px){

                        display: flex;
                        line-height: 10px;
                        text-align: center;
                        width: 100%;
                    }
            
        
                    a{
                        padding: 5px 10px 5px 15px;
                        margin: 12px;
                        color: white;
                        font-size: 15px;
                        text-decoration: none;
                        font-family: 'Koulen', cursive;
                        letter-spacing: 8px;
                        text-shadow: 2px 2px 3px black;
                        transition: 0.6s;
                        font-weight: 300;

                        @media screen and (min-width:1400px){
                            font-size: 20px;
                        }

                        @media (max-width: 1165px){
                            font-size: 20px;
                            width: 100%;
                            padding: 20px;
                            margin-right: 25px; 
                        }
        
                        &:hover{
                            box-shadow: 1px 1px 5px 1px white;
                            background-color:var(--background-hover-color)
                        }
                    }
                    
                }
    
            }

        }
        
    }

    #title {

        h1{
            text-align: center;
            color: $color-principal;
            font-size: 100px;
            text-shadow: 5px 5px 5px black;
            font-family: 'Koulen', cursive;
            letter-spacing: 20px;
            width: 100%;
            background-color: $background-color;
    
            @media screen and (max-width:1255px){
                font-size: 80px;
                letter-spacing: 10px;
            }

            @media screen and (max-width:800px){
                font-size: 60px;
                background-color: transparent;
            }
    
            @media screen and (max-width:700px){
                background-color: transparent;
            }
    
            @media screen and (max-width:500px) {
                font-size: 50px;
                background-color: none;
            }
    
            @media screen and (max-width:400px) {
                font-size: 40px;
            }

        }
    
    }
    
    .shop-logos-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px;

        @media screen and (min-width:1370px){
            display: flex;
            justify-content: center;
        }

        .rectangle{
            width: 810px;
            background-color: transparent;

            @media screen and (min-width:1400px){
                width: 860px;
            }

            @media screen and (max-width:1370px){
                display: none;
            }
        }

        .shop-div {
            background-color: rgba(0, 0, 0, 0.548);
            padding: 12px;
            border-style: solid;
            border-color: white;
            border-width: 2px;

            a{
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: space-around;
                text-decoration: none;
                padding: 15px;
                gap: 10px;

                @media screen and (max-width:1165px) {
                    gap: 10px;
                }

                h6{
                    font-size: 25px;
                    font-family: 'Koulen', cursive;
                    letter-spacing: 3px;
                    font-weight: 300;
                    color: white;
                    margin-top: 10px;

                    @media screen and (max-width:500px) {
                        display: none;
                    }
                }

                img{
                    width: 35px;
                    filter: invert(100%);

                    @media screen and (max-width:500px) {
                        width: 30px;
                    }

                }
            }
        }

        .logos-header {

            margin-right: -10px;

            a{
                margin: 5px;         
                filter: drop-shadow(5px 5px 5px black);
            }

        }
      
    }

        @media (max-width: 1165px){
        #check:checked ~ ul{
            left:0;
        }
        }

/*HEADER HISTORY*/

    #background-header-history{
        background-image: url(../Imagenes/fondo-history.png);
        background-blend-mode: darken;
        background-color: rgba(24, 24, 24, 0.35);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;

        #header{
            padding: 15px 5px 15px 5px;
            text-align: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            @media screen and (min-width:1370px){
                display: flex;
                justify-content: center;
            }
        
    
            .logo-linkin-header{
                max-width: 100px;
                filter: invert(100%);

                @media screen and (min-width:1370px){
                    margin-right: 3%;
                }

                @media screen and (max-width:1165px){
                    width: 70px;
                }
    
                @media screen and (max-width:500px){
                    width: 70px;
                }
    
                @media screen and (max-width:400px) {
                    width: 70px;
                }
            }
        }
    
            .log-in-flex{
                display: flex;
                justify-content: space-between;
                gap: 10px;
                text-decoration: none;
                flex-wrap: wrap;
    
                @media screen and (max-width:500px){
                    display: flex;
                    justify-content: center;
                }
    
                @media screen and (max-width:400px) {
                    display: flex;
                    justify-content: center;
                }

                 @media screen and (max-width:340px) {
                display: none;
            }
    
                a{
                    text-decoration: none;
    
                    @media screen and (max-width:500px){
                        font-size: 15px;
                    }
    
                    @media screen and (max-width:400px) {
                        font-size: 14px;
                    }
                }
    
                .log-in{
                    color: $text-color;
                    border-style: solid;
                    border-width: 2px;
                    border-color: $text-color;
                    padding: 5px 15px 5px 15px;
                    font-family: 'Poppins', sans-serif;
                    transition:  0.5s;
    
                    &:hover{
                        background-color: var(--background-hover-color);
                        transform: scale(1.05);
                    }
                }
            }
    
            .nav-principal {
    
                .checkbtn{
                    font-size: 40px;
                    color: $text-color;
                    line-height: 20px;
                    margin-right: 10px;
                    margin-bottom: 20px;
                    cursor: pointer;
                    display: none;
    
                    @media (max-width: 1165px){
                        display: block;
                    }
    
                    @media screen and (max-width:500px) {
                        font-size: 40px;
                    }
    
                    @media screen and (max-width:400px) {
                        font-size: 40px;
                    }
                }
                #check{
                    display: none;
                }
    
                ul {
    
                    display: flex;
                    flex-wrap: wrap;
    
                    @media (max-width: 1165px){
                        background-image: url(../Imagenes/linkinpark-meteora.jpg);
                        background-blend-mode: darken;
                        background-color: rgba(0, 0, 0, 0.782);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position-x: 30%;
                        padding-top: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: stretch;
                        position: fixed;
                        width: 100%;
                        height: 100vh;
                        left: -100%;
                        text-align: center;
                        transition: all .5s;
                        z-index: 20000;
                    }
        
                    li{
                        @media (max-width: 1165px){
    
                            display: flex;
                            line-height: 10px;
                            text-align: center;
                            width: 100%;
                        }
                
            
                        a{
                            padding: 5px 10px 5px 15px;
                            margin: 12px;
                            color: white;
                            font-size: 15px;
                            text-decoration: none;
                            font-family: 'Koulen', cursive;
                            letter-spacing: 8px;
                            text-shadow: 2px 2px 3px black;
                            transition: 0.6s;
                            font-weight: 300;

                            @media screen and (min-width:1400px){
                                font-size: 20px;
                            }
    
                            @media (max-width: 1165px){
                                font-size: 20px;
                                width: 100%;
                                padding: 20px;
                                margin-right: 25px; 
                            }
            
                            &:hover{
                                box-shadow: 1px 1px 5px 1px white;
                                background-color:var(--background-hover-color)
                            }
                        }
                        
                    }
        
                }
    
            }
            
        }
    
        @media (max-width: 1165px){
            #check:checked ~ ul{
                left:0;
            }
        }
    

/*HEADER MEMBERS*/

        #background-header-members{
            background-image: url(../Imagenes/ws_The_Linkin_Park_1600x1200.jpg);
            background-color: rgba(0, 0, 0, 0.281);
            background-blend-mode: darken;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
        
            #header{
                padding: 15px 5px 15px 5px;
                text-align: center;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                @media screen and (min-width:1370px){
                    display: flex;
                    justify-content: center;
                }
        
        
                .logo-linkin-header{
                    max-width: 100px;
                    filter: invert(100%);

                    @media screen and (min-width:1370px){
                        margin-right: 3%;
                    }
    
                    @media screen and (max-width:1165px){
                        width: 70px;
                    }
        
                    @media screen and (max-width:500px){
                        width: 70px;
                    }
        
                    @media screen and (max-width:400px) {
                        width: 70px;
                    }
                }
            }
        
                .log-in-flex{
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;
                    text-decoration: none;
                    flex-wrap: wrap;
        
                    @media screen and (max-width:500px){
                        display: flex;
                        justify-content: center;
                    }
        
                    @media screen and (max-width:400px) {
                        display: flex;
                        justify-content: center;
                    }
    
                     @media screen and (max-width:340px) {
                    display: none;
                }
        
                    a{
                        text-decoration: none;
        
                        @media screen and (max-width:500px){
                            font-size: 15px;
                        }
        
                        @media screen and (max-width:400px) {
                            font-size: 14px;
                        }
                    }
        
                    .log-in{
                        color: $text-color;
                        border-style: solid;
                        border-width: 2px;
                        border-color: $text-color;
                        padding: 5px 15px 5px 15px;
                        font-family: 'Poppins', sans-serif;
                        transition:  0.5s;
        
                        &:hover{
                            background-color: var(--background-hover-color);
                            transform: scale(1.05);
                        }
                    }
                }
        
                .nav-principal {
        
                    .checkbtn{
                        font-size: 40px;
                        color: $text-color;
                        line-height: 20px;
                        margin-right: 10px;
                        margin-bottom: 20px;
                        cursor: pointer;
                        display: none;
        
                        @media (max-width: 1165px){
                            display: block;
                        }
        
                        @media screen and (max-width:500px) {
                            font-size: 40px;
                        }
        
                        @media screen and (max-width:400px) {
                            font-size: 40px;
                        }
                    }
                    #check{
                        display: none;
                    }
        
                    ul {
        
                        display: flex;
                        flex-wrap: wrap;
        
                        @media (max-width: 1165px){
                            background-image: url(../Imagenes/linkinpark-meteora.jpg);
                            background-blend-mode: darken;
                            background-color: rgba(0, 0, 0, 0.782);
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position-x: 30%;
                            padding-top: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: stretch;
                            position: fixed;
                            width: 100%;
                            height: 100vh;
                            left: -100%;
                            text-align: center;
                            transition: all .5s;
                            z-index: 20000;
                        }
            
                        li{
                            @media (max-width: 1165px){
        
                                display: flex;
                                line-height: 10px;
                                text-align: center;
                                width: 100%;
                            }
                    
                
                            a{
                                padding: 5px 10px 5px 15px;
                                margin: 12px;
                                color: white;
                                font-size: 15px;
                                text-decoration: none;
                                font-family: 'Koulen', cursive;
                                letter-spacing: 8px;
                                text-shadow: 2px 2px 3px black;
                                transition: 0.6s;
                                font-weight: 300;

                                @media screen and (min-width:1400px){
                                    font-size: 20px;
                                }
        
                                @media (max-width: 1165px){
                                    font-size: 20px;
                                    width: 100%;
                                    padding: 20px;
                                    margin-right: 25px; 
                                }
                
                                &:hover{
                                    box-shadow: 1px 1px 5px 1px white;
                                    background-color:var(--background-hover-color)
                                }
                            }
                            
                        }
            
                    }
        
                }
                
            }
        
            @media (max-width: 1165px){
                #check:checked ~ ul{
                    left:0;
                }
            }

/*HEADER DISCOGRAPHY*/

#background-header-discography{
    background-image: url(../Imagenes/linkinpark-meteora.jpg);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    @media screen and (max-width: 700px){
        background-position-x: 40%;
    }

    #header{
        padding: 15px 5px 15px 5px;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width:1370px){
            display: flex;
            justify-content: center;
        }


        .logo-linkin-header{
            max-width: 100px;
            filter: invert(100%);

            @media screen and (min-width:1370px){
                margin-right: 3%;
            }

        @media screen and (max-width:1165px){
            width: 70px;
        }

        @media screen and (max-width:500px){
            width: 70px;
        }

        @media screen and (max-width:400px) {
            width: 70px;
        }
        }
    }

        .log-in-flex{
            display: flex;
            justify-content: space-between;
            gap: 10px;
            text-decoration: none;
            flex-wrap: wrap;

            @media screen and (max-width:500px){
                display: flex;
                justify-content: center;
            }

            @media screen and (max-width:400px) {
                display: flex;
                justify-content: center;
            }

            @media screen and (max-width:340px) {
                display: none;
            }

            a{
                text-decoration: none;

                @media screen and (max-width:500px){
                    font-size: 15px;
                }

                @media screen and (max-width:400px) {
                    font-size: 14px;
                }
            }

            .log-in{
                color: white;
                border-style: solid;
                border-width: 2px;
                border-color: white;
                padding: 5px 15px 5px 15px;
                font-family: 'Poppins', sans-serif;
                transition:  0.5s;

                &:hover{
                    background-color: var(--background-hover-color);
                    transform: scale(1.05);
                }
            }
        }

        .nav-principal {

            .checkbtn{
                font-size: 40px;
                color: #fff;
                line-height: 20px;
                margin-right: 10px;
                margin-bottom: 20px;
                cursor: pointer;
                display: none;

                @media (max-width: 1165px){
                    display: block;
                }

                @media screen and (max-width:500px) {
                    font-size: 40px;
                }

                @media screen and (max-width:400px) {
                    font-size: 40px;
                }
            }
            #check{
                display: none;
            }

            ul {

                display: flex;
                flex-wrap: wrap;

                @media (max-width: 1165px){

                    background-image: url(../Imagenes/linkinpark-meteora.jpg);
                    background-blend-mode: darken;
                    background-color: rgba(0, 0, 0, 0.782);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position-x: 30%;
                    padding-top: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: stretch;
                    position: fixed;
                    width: 100%;
                    height: 100vh;
                    left: -100%;
                    text-align: center;
                    transition: all .5s;
                    z-index: 20000;
                }

                li{
                    @media (max-width: 1165px){

                        display: flex;
                        line-height: 10px;
                        text-align: center;
                        width: 100%;
                    }
            
        
                    a{
                        padding: 5px 10px 5px 15px;
                        margin: 12px;
                        color: white;
                        font-size: 15px;
                        text-decoration: none;
                        font-family: 'Koulen', cursive;
                        letter-spacing: 8px;
                        text-shadow: 2px 2px 3px black;
                        transition: 0.6s;
                        font-weight: 300;

                        @media screen and (min-width:1400px){
                            font-size: 20px;
                        }

                        @media (max-width: 1165px){
                            font-size: 20px;
                            width: 100%;
                            padding: 20px;
                            margin-right: 25px; 
                        }
        
                        &:hover{
                            box-shadow: 1px 1px 5px 1px white;
                            background-color:var(--background-hover-color)
                        }
                    }
                    
                }
    
            }

        }
        
    }

    @media (max-width: 1165px){
        #check:checked ~ ul{
            left:0;
        }
    }

/*HEADER VIDEOS*/

#background-header-videos{
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    #header{
        padding: 15px 5px 15px 5px;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        @media screen and (min-width:1370px){
            display: flex;
            justify-content: center;
        }


        .logo-linkin-header{
            max-width: 100px;
            filter: invert(100%);

            @media screen and (min-width:1370px){
                margin-right: 3%;
            }

        @media screen and (max-width:1165px){
            width: 70px;
        }

        @media screen and (max-width:500px){
            width: 70px;
        }

        @media screen and (max-width:400px) {
            width: 70px;
        }
        }
    }

        .log-in-flex{
            display: flex;
            justify-content: space-between;
            gap: 10px;
            text-decoration: none;
            flex-wrap: wrap;

            @media screen and (max-width:500px){
                display: flex;
                justify-content: center;
            }

            @media screen and (max-width:400px) {
                display: flex;
                justify-content: center;
            }

            @media screen and (max-width:340px) {
                display: none;
            }

            a{
                text-decoration: none;

                @media screen and (max-width:500px){
                    font-size: 15px;
                }

                @media screen and (max-width:400px) {
                    font-size: 14px;
                }
            }

            .log-in{
                color: white;
                border-style: solid;
                border-width: 2px;
                border-color: white;
                padding: 5px 15px 5px 15px;
                font-family: 'Poppins', sans-serif;
                transition:  0.5s;

                &:hover{
                    background-color: var(--background-hover-color);
                    transform: scale(1.05);
                }
            }
        }

        .nav-principal {

            .checkbtn{
                font-size: 40px;
                color: #fff;
                line-height: 20px;
                margin-right: 10px;
                margin-bottom: 20px;
                cursor: pointer;
                display: none;

                @media (max-width: 1165px){
                    display: block;
                }

                @media screen and (max-width:500px) {
                    font-size: 40px;
                }

                @media screen and (max-width:400px) {
                    font-size: 40px;
                }
            }
            #check{
                display: none;
            }

            ul {

                display: flex;
                flex-wrap: wrap;

                @media (max-width: 1165px){

                    background-image: url(../Imagenes/linkinpark-meteora.jpg);
                    background-blend-mode: darken;
                    background-color: rgba(0, 0, 0, 0.782);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position-x: 30%;
                    padding-top: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: stretch;
                    position: fixed;
                    width: 100%;
                    height: 100vh;
                    left: -100%;
                    text-align: center;
                    transition: all .5s;
                    z-index: 20000;
                }

                li{
                    @media (max-width: 1165px){

                        display: flex;
                        line-height: 10px;
                        text-align: center;
                        width: 100%;
                    }
            
        
                    a{
                        padding: 5px 10px 5px 15px;
                        margin: 12px;
                        color: white;
                        font-size: 15px;
                        text-decoration: none;
                        font-family: 'Koulen', cursive;
                        letter-spacing: 8px;
                        text-shadow: 2px 2px 3px black;
                        transition: 0.6s;
                        font-weight: 300;

                        @media screen and (min-width:1400px){
                            font-size: 20px;
                        }

                        @media (max-width: 1165px){
                            font-size: 20px;
                            width: 100%;
                            padding: 20px;
                            margin-right: 25px; 
                        }
        
                        &:hover{
                            box-shadow: 1px 1px 5px 1px white;
                            background-color:var(--background-hover-color)
                        }
                    }
                    
                }
    
            }

        }
        
    }

    @media (max-width: 1165px){
        #check:checked ~ ul{
            left:0;
        }
    }


/*HEADER SHOP*/

    #background-header-shop{
        background-image: url(../Imagenes/fondo-shop.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.247);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #header{
            padding: 15px 5px 15px 5px;
            text-align: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            @media screen and (min-width:1370px){
                display: flex;
                justify-content: center;
            }
    
    
            .logo-linkin-header{
                max-width: 100px;
                filter: invert(100%);

                @media screen and (min-width:1370px){
                    margin-right: 3%;
                }
    
            @media screen and (max-width:1165px){
                width: 70px;
            }
    
            @media screen and (max-width:500px){
                width: 70px;
            }
    
            @media screen and (max-width:400px) {
                width: 70px;
            }
            }
        }
    
            .log-in-flex{
                display: flex;
                justify-content: space-between;
                gap: 10px;
                text-decoration: none;
                flex-wrap: wrap;
    
                @media screen and (max-width:500px){
                    display: flex;
                    justify-content: center;
                }
    
                @media screen and (max-width:400px) {
                    display: flex;
                    justify-content: center;
                }
    
                @media screen and (max-width:340px) {
                    display: none;
                }
    
                a{
                    text-decoration: none;
    
                    @media screen and (max-width:500px){
                        font-size: 15px;
                    }
    
                    @media screen and (max-width:400px) {
                        font-size: 14px;
                    }
                }
    
                .log-in{
                    color: white;
                    border-style: solid;
                    border-width: 2px;
                    border-color: white;
                    padding: 5px 15px 5px 15px;
                    font-family: 'Poppins', sans-serif;
                    transition:  0.5s;
    
                    &:hover{
                        background-color: var(--background-hover-color);
                        transform: scale(1.05);
                    }
                }
            }
    
            .nav-principal {
    
                .checkbtn{
                    font-size: 40px;
                    color: #fff;
                    line-height: 20px;
                    margin-right: 10px;
                    margin-bottom: 20px;
                    cursor: pointer;
                    display: none;
    
                    @media (max-width: 1165px){
                        display: block;
                    }
    
                    @media screen and (max-width:500px) {
                        font-size: 40px;
                    }
    
                    @media screen and (max-width:400px) {
                        font-size: 40px;
                    }
                }
                #check{
                    display: none;
                }
    
                ul {
    
                    display: flex;
                    flex-wrap: wrap;
    
                    @media (max-width: 1165px){
    
                        background-image: url(../Imagenes/linkinpark-meteora.jpg);
                        background-blend-mode: darken;
                        background-color: rgba(0, 0, 0, 0.782);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position-x: 30%;
                        padding-top: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: stretch;
                        position: fixed;
                        width: 100%;
                        height: 100vh;
                        left: -100%;
                        text-align: center;
                        transition: all .5s;
                        z-index: 20000;
                    }
    
                    li{
                        @media (max-width: 1165px){
    
                            display: flex;
                            line-height: 10px;
                            text-align: center;
                            width: 100%;
                        }
                
            
                        a{
                            padding: 5px 10px 5px 15px;
                            margin: 12px;
                            color: white;
                            font-size: 15px;
                            text-decoration: none;
                            font-family: 'Koulen', cursive;
                            letter-spacing: 8px;
                            text-shadow: 2px 2px 3px black;
                            transition: 0.6s;
                            font-weight: 300;

                            @media screen and (min-width:1400px){
                                font-size: 20px;
                            }
    
                            @media (max-width: 1165px){
                                font-size: 20px;
                                width: 100%;
                                padding: 20px;
                                margin-right: 25px; 
                            }
            
                            &:hover{
                                box-shadow: 1px 1px 5px 1px white;
                                background-color:var(--background-hover-color)
                            }
                        }
                        
                    }
        
                }
    
            }
            
        }
    
        @media (max-width: 1165px){
            #check:checked ~ ul{
                left:0;
            }
        
    }



/*HEADER*/