
#main-history{
    background: radial-gradient(rgb(26, 26, 26), rgb(3, 3, 3));
    text-align: center;
    padding: 30px 30px 30px 30px;
    overflow-x: hidden;

    article{
        text-align: justify;
        font-family: 'Poppins', sans-serif;
        color: $text-color;
        font-weight: 300;
        font-size: $font-text-normal;
        overflow-x: hidden;

        @media screen and (min-width:1500px){
            font-size: $font-text-medium;
            margin: 0 auto;
        }

        @media screen and (min-width:1000px){
            max-width: 1200px;
            margin: 0 auto;
        }

        p{
            line-height: 35px;
        }
        }

        .center{
            text-align: center;

            .xero{
                max-width: 500px;
            }
        }

        div img{
            max-width: 650px;
            padding: 5% 0 6% 0;
        }
    }
