/*VIEWS*/


#main-index{
    background: radial-gradient(rgb(24, 24, 24), rgb(3, 3, 3));
    text-align: center;
    overflow-x: hidden;

    h2{
        text-align: center;
        color: $text-color;
        padding: 60px;
        font-size: 60px;
        text-shadow: 3px 3px 3px black;

        @media screen and (max-width:1255px){
            font-size: 70px;
        }

        @media screen and (max-width:500px) {
            font-size: 40px;
            text-align: center;
        }

        @media screen and (max-width:400px) {
            font-size: 30px;
            letter-spacing: 5px;
        }
    }

    .biography{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;

        img{
            width: 540px;
            box-shadow: 5px 5px 5px black;

            @media screen and (max-width:1200px){
                width: 65%;
            }

            @media screen and (max-width:500px) {
                width: 80%;
            }
            
            @media screen and (max-width:400px) {
                width: 80%;
            }
        }

        article{
            color: $color-principal;
            font-size: $font-text-normal;
            text-align: left;
            font-weight: 300;
            line-height: 30px;
            width: 500px;
            font-family: 'Poppins', sans-serif;
            padding: 20px 20px 20px 20px;

            @media screen and (max-width:1255px){
                width: 90%;
                margin: 10px;
                text-align: justify;
            }

            @media screen and (max-width:400px) {
                width: 90%;
                text-align: justify;
                font-size: 18px;
            }
        }
    }

    .img-biography{
        text-align: center;
        padding: 50px;

        img{
            width: 500px;
            filter: invert(70%);

            @media screen and (max-width:1255px){
                width: 60%;
            }

            @media screen and (max-width:1000px){
                width: 60%;
            }

            @media screen and (max-width:800px) {
                width: 100%;
            }

            @media screen and (max-width:600px) {
                width: 100%;
            }

            @media screen and (max-width:500px) {
                width: 100%;
            }

            @media screen and (max-width:400px) {
                width: 100%;
            }
        }
    }
}

/*VIEWS*/