.container-fluid{
    padding-top: 50px;

    .row{
        justify-content: center;
        text-align: center;
        cursor: pointer;

        .row{

            img{
                max-width: 320px;
                box-shadow: 2px 2px 10px black;
                border-radius: 5px;
                transition: 0.5s;

                &:hover{
                    transform: scale(1.05);
                    
                }
                
            }

            div{

                width: 320px;
                padding: 0;
                border-top: none;

                .item-title{
                    padding-top: 10px;
                    font-size: 18px;
                    font-weight: bold;
                    
                }
    
                .item-price{
                    font-size: 18px;
    
                }
            }
        }
    }
}