video{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body{
    overflow-x: hidden;
    }

    #main-videos{
        background: radial-gradient(rgb(7, 7, 7), rgb(18, 18, 18));
        overflow: hidden;
        padding-top: 100px;

        h2{
            text-align: center;
            color: $color-principal;
            margin-bottom: 40px;
        }
    
        .more-videos{
    
            text-align: center;
            margin-top: 120px;
            padding-bottom: 100px;
    
            a{
                color: $text-color;
                text-decoration: none;
                font-size: 20px;
                border-color: $color-principal;
                border-width: 2px;
                border-style: solid;
                text-align: center;
                padding: 20px 35px 20px 35px;
            }
        }
            
        .container{

            .ratio{

                max-width: 600px;
                margin: 0 auto;

            }

            #margin{
                margin-bottom: 100px;
            }

            .flex-iframe{

                max-width: 600px;
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                align-content: center;
                background-color: rgba(82, 82, 82, 0.11);
                border-bottom-left-radius: 1px;
                border-bottom-right-radius: 1px;
                padding-top: 10px;

                .title-video{
                    
                    font-weight: 500;
                    
                }

                p{
                    font-size: 18px;
                    color: $color-principal;
                    text-align: left;
                    font-weight: 300;
                    margin-top: 5px;

                    @media screen and (max-width:500px){
                        font-size: 17px;
                    }
                }

                .flex-intern-album{
                    
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    align-content: center;
                    gap: 15px;

                    @media screen and (max-width:470px){
                        display: none;
                    }

                    p{
                        font-size: 18px;
                        color: $color-principal;
                        text-align: left;
                        font-weight: 300;

                        @media screen and (max-width:500px){
                            font-size: 17px;
                        }
                    }

                    img{
                        width: 18px;
                        padding-bottom: 12px;

                        @media screen and (max-width:500px){
                        width: 17px;
                    }
                    }

                    
                }

                .flex-intern-time{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    align-content: center;
                    gap: 15px;


                    p{
                        font-size: 18px;
                        color: $color-principal;
                        text-align: left;
                        font-weight: 300;

                        @media screen and (max-width:500px){
                            font-size: 17px;
                        }
                    }
                    
                    img{
                        width: 18px;
                        padding-bottom: 12px;

                        @media screen and (max-width:500px){
                        width: 17px;
                    }
                    }
                }

            }
    
            }
    
        }

    video{
        z-index: -1000;
        position: fixed;

        @media (min-aspect-ratio: 16/9){
            width: 130%;
            height: auto;
        }
        @media (max-aspect-ratio: 16/9){
            width: auto;
            height: 135%;
        }
    }
