video{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body{
    overflow-x: hidden;
    }

    #main-videos{
        background: radial-gradient(rgba(8, 8, 8, 0.902), rgb(3, 3, 3));
        overflow: hidden;
        padding-top: 100px;
    
        .more-videos{
    
            text-align: center;
            padding: 20px 0 20px 0;
    
            a{
                color: $text-color;
                text-decoration: none;
                font-size: 20px;
                border-color: $color-principal;
                border-width: 2px;
                border-style: solid;
                text-align: center;
            }
        }
            
        .container{

            div{
                max-width: 600px;
                margin: 0 auto;
                margin-bottom: 100px;
            }
    
            
        
            h2{
                font-size: 30px;
                color: $text-color;
                padding: 20px;
                text-align: center;
                font-weight: 400;

                @media (max-width: 600px){
                    font-size: 25px;

                }
            }

            }
    
        }

    video{
        z-index: -1000;
        position: fixed;

        @media (min-aspect-ratio: 16/9){
            width: 130%;
            height: auto;
        }
        @media (max-aspect-ratio: 16/9){
            width: auto;
            height: 135%;
        }
    }
