
    /* Colors */

        
    $color-principal: white;
    $text-color: rgb(231, 231, 231);
    $nav-hover-color: black;
    $footer-text-color: rgb(201, 198, 198);
    $background-color: rgba(0, 0, 0, 0.26);

    $colors:(
        color-principal: white
    );

    @each $key, $val in $colors {
        #{$key} { 
            color: #{$val};
        }
    }

    

    

